---
Language:     Cpp

# Breaks
ColumnLimit:  120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass:      true
  AfterControlStatement: true
  AfterEnum:       true
  AfterFunction:   true
  AfterNamespace:  true
  AfterStruct:     true
  AfterUnion:      true
BinPackParameters: false
AlwaysBreakTemplateDeclarations: Yes
AlignAfterOpenBracket: BlockIndent

# Indentation
IndentWidth:     4
ContinuationIndentWidth: 4
UseTab:          Never
TabWidth:        4

# Spaces
SpacesInContainerLiterals: true
SpacesInAngles: Leave
Cpp11BracedListStyle: false
SpaceAfterTemplateKeyword: false

# Includes
SortIncludes:    true
IncludeBlocks:   Regroup